@import "assets/styles/helpers/variabels";

.pagination {
  margin-top: 1.5rem;
}
.ulstyle {
  display: flex;
  gap: 1.1rem;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.listyle {
  color: $dark;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.8rem;
  border-radius: 999rem;
  cursor: pointer;
  &:hover {
    background-color: $placeholder;
    color: #fff;
  }
}

.active {
  background-color: $dark;
  color: #fff;
}

.iconSvg {
  cursor: pointer;
  border-radius: 100%;
  padding: 0.1rem;
  vertical-align: middle;
  &:hover {
    background-color: $tertiary;
    & path {
      stroke: #fff !important;
    }
  }
}
.iconPath {
  stroke: $dark;
}

.rotate {
  transform: rotate(180deg);
}
