@import "assets/styles/helpers/variabels";

.bagItem {
  display: flex;
  align-items: flex-start;
  padding: 0.25rem 1.5rem;
  gap: 1rem;
  background-color: $white;
  border-radius: 1.5rem;
  width: 100%;
}

.imgArea {
  margin: auto auto;
  display: flex;
  align-items: center;
  height: 12rem;
  width: 8rem;
}

.contentArea {
  padding: 0.5rem;
  width: 100%;
}

.title {
  color: $dark;
  font-size: 2rem;
  font-weight: 400 !important;
  margin: 0.75rem 0;
}

.brand {
  color: $tertiary;
  font-size: 1.25rem;
  font-weight: 400 !important;
  margin: 0.75rem 0;
}

.description {
  color: $dark;
  font-size: 1.25rem;
  font-weight: 400 !important;
}

.priceCount {
  display: flex;
  width: 100%;
  justify-content: space-between;
  & :first-child {
    color: $dark;
    font-weight: 400 !important;
    font-size: 1.25rem;
  }
  & :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
    & > span {
      color: $dark;
      font-size: 1.25rem;
      font-weight: 400 !important;
      user-select: none;
      &:not(:nth-child(2)) {
        cursor: pointer;
      }
    }
  }
}
