@import "assets/styles/helpers/variabels";

.contentFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1.5rem;
  gap: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  &:hover {
    cursor: pointer;
    color: $placeholder;
    & path {
      stroke: $placeholder;
    }
  }
}

.topArea {
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
  padding: 0;
}

.imageArea {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 1rem;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: space-around;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
  max-height: 31rem;
  overflow: scroll;
}

.galleryContiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: $white;
  border-radius: 1rem;
  width: 5rem;
  height: 6rem;
  object-fit: contain;
}

.mainImage {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.625rem;
  background-color: $white;
  border-radius: 1rem;
  width: 40rem;
  height: 30rem;
  object-fit: contain;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 700 !important;
  color: $dark;
  line-height: 3rem;
}

.category {
  font-size: 1.4rem;
  font-weight: 500 !important;
  color: $placeholder;
}

.price {
  display: flex;
  gap: 1rem;
  & :nth-child(1) {
    text-decoration: line-through;
    color: $placeholder;
    font-weight: 400 !important;
    font-size: 1.75rem;
  }
  & :nth-child(2) {
    color: $dark;
    font-weight: 700 !important;
    font-size: 2rem;
  }
}

.desc {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.625rem;
  font-weight: 400 !important;
  color: $dark;
  font-size: 1.25rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem;
  gap: 0.625rem;
  margin-left: auto;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-width: 0;
  background-color: $dark;
  border-radius: 1rem;
  color: $white;
  font-weight: 500 !important;
  font-size: 1.25rem;
}
