@import "assets/styles/helpers/variabels";

.contentFrame {
  margin-left: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1.5rem;
  gap: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  &:hover {
    cursor: pointer;
    color: $placeholder;
    & path {
      stroke: $placeholder;
    }
  }
}

.topArea {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0;
}

.imageArea {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 1rem;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
}

.galleryContiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: $white;
  border-radius: 1rem;
  width: 3rem;
  height: 3.5rem;
  object-fit: contain;
}

.mainImage {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.625rem;
  background-color: $white;
  border-radius: 1rem;
  width: 258px;
  height: 20rem;
  object-fit: contain;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 1rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  color: $dark;
}

.category {
  font-size: 1.4rem;
  font-weight: 500;
  color: $placeholder;
}

.special {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  & :nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 0;
    gap: 0.5rem;
  }
  & :nth-child(2) {
    color: $accent;
    font-size: 1.25rem;
    font-weight: 400;
  }
}
