.cardItem {
  overflow: hidden;
  border-radius: 1rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  -webkit-box-shadow: 10px 10px 26px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 26px 1px rgba(0, 0, 0, 0.1);
  transition: all;
  transition-duration: 1500ms;
}
.cardItem:hover {
  scale: 1.02;
  transition: all;
  transition-duration: 1500ms;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.title {
  color: black !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cardItem .priceSection {
  display: flex;
  justify-content: space-between;
}

.price {
  color: black !important;
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
}

.rating {
  display: flex;
  color: black !important;
  gap: 0.2rem;
  justify-content: flex-start;
  align-items: stretch;
  font-weight: 300;
}

.sale {
  text-decoration: line-through;
  font-weight: 300;
  color: dimgrey !important;
}

.discount {
  background-color: rgb(239, 57, 78);
  color: #fff !important;
  font-weight: 800;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
}

.addBtn {
  background-color: rgb(239, 57, 78);
  border: none;
  color: #fff;
  height: 20rem;
  transform: translateY(18rem);
  transition: all;
  transition-duration: 600ms;
  margin-top: -18rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  padding-top: 2%;
}
.addBtn:hover {
  background-color: rgba(239, 57, 78, 0.92);
  cursor: pointer;
  transform: translateY(0);
  transition: all;
  transition-duration: 800ms;
  align-items: center;
  font-size: 1.2rem;
  padding-top: 3.5rem;
}

.category {
  position: absolute;
  margin: 0.5rem 0 0 1rem;
  padding: 0.1rem;
  border-radius: 2rem;
  background-color: rgba(239, 57, 78, 0.92);
  color: #fff;
}
