$primary: rgba(16, 94, 70, 1);
$accent: rgba(18, 128, 93, 1);
$success: rgba(2, 214, 147, 1);
$light: rgba(191, 209, 229, 1);
$tertiary: rgba(96, 105, 92, 1);
$dark: rgba(26, 31, 22, 1);
$placeholder: rgba(26, 31, 22, 0.5);
$white: rgba(255, 255, 255, 1);
$danger: rgba(229, 37, 44, 1);
$warning: rgba(230, 209, 23, 1);
